<beans xmlns="http://www.springframework.org/schema/beans"
       	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       	xmlns:context="http://www.springframework.org/schema/context"
       	xmlns:util="http://www.springframework.org/schema/util"
       	xsi:schemaLocation="http://www.springframework.org/schema/beans
       	http://www.springframework.org/schema/beans/spring-beans.xsd
       	http://www.springframework.org/schema/context
       	http://www.springframework.org/schema/context/spring-context.xsd">
 
 	<context:annotation-config />
	
	<bean id="propertyPlaceholderConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    	<property name="locations">
        	<list>
            	<!-- environment-specific settings -->
                <value>classpath:Application-${fluent.framework.environment}.prop</value>
           </list>
    	</property>
    	<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
    	<property name="ignoreResourceNotFound" value="true" />
    	<property name="ignoreUnresolvablePlaceholders" value="false"/>
   </bean>



    <!-- INPUT Dispatcher-->
    <bean id="InputPersistor" class="com.fluent.etrading.framework.persistence.FluentInputEventPersister" init-method="init" destroy-method="stop" />

	<bean id="InputBackoffStrategy" class="com.fluent.etrading.framework.dispatcher.core.ParkingBackoffStrategy">
	 	<constructor-arg value="1" />
	 	<constructor-arg value="NANOSECONDS" />
	</bean>  

 	<bean id="SmartInputEventDispatcher" class="com.fluent.etrading.framework.dispatcher.in.FluentInputEventDispatcher">
	 	<constructor-arg ref="InputBackoffStrategy" />
        <constructor-arg ref="InputPersistor" />
	</bean>



    <!-- OUTPUT Dispatcher -->
    <bean id="OutputPersistor" class="com.fluent.etrading.framework.persistence.FluentOutputEventPersister" init-method="init" destroy-method="stop" />

    <bean id="OutputBackoffStrategy" class="com.fluent.etrading.framework.dispatcher.core.ParkingBackoffStrategy">
        <constructor-arg value="2" />
        <constructor-arg value="NANOSECONDS" />
    </bean>

    <bean id="SmartOutputEventDispatcher" class="com.fluent.etrading.framework.dispatcher.out.BlockingOutputEventDispatcher">
        <constructor-arg ref="OutputBackoffStrategy" />
        <constructor-arg ref="OutputPersistor" />
    </bean>



    <!-- Strategy Manager -->
    <bean id="SpreadAlgoFactory" class="com.fluent.etrading.algo.spreader.SpreadAlgoFactory">
        <constructor-arg ref="SmartOutputEventDispatcher" />
    </bean>

    <bean id="SpreadAlgoManager" class="com.fluent.etrading.algo.spreader.SpreadAlgoManager" init-method="init" destroy-method="stop">
        <constructor-arg ref="SpreadAlgoFactory" />
    </bean>



	<!-- OUTPUT Adaptors -->
	<!-- ####################################################################### -->
    
    <!-- To Elastic Search -->
    <!-- 
    <bean id="ESTransport" class="com.vicky.etrading.elasticsearch.AbstractESClient" init-method="init" destroy-method="stop" >
        <constructor-arg value="UniqueES" />
        <constructor-arg value="192.168.1.2" />
        <constructor-arg value="9300" />
    </bean>
    
    <bean id="ElasticSearchConnector" class="com.vicky.etrading.elasticsearch.ElasticSearchInputConnector" init-method="init" destroy-method="stop" >
    	<constructor-arg ref="ESTransport" />
    </bean>   
     -->
             
    <!-- TO Trader -->
    <bean id="TraderAdaptor" class="com.fluent.etrading.framework.events.out.response.ResponseEventAdaptor" init-method="init" destroy-method="stop" />
        
    
    <!-- TO Market -->
    <bean id="TIBCOBtecExecutor" class="com.fluent.etrading.framework.events.out.executor.TIBCOOrderExecutor" init-method="init" destroy-method="stop">
        <constructor-arg>
            <bean class = "com.fluent.etrading.framework.market.parameters.TIBCOBtecMarketParameter" />
        </constructor-arg>
    </bean>

    <bean id="TIBCOEspeedExecutor" class="com.fluent.etrading.framework.events.out.executor.TIBCOOrderExecutor" init-method="init" destroy-method="stop">
        <constructor-arg>
            <bean class = "com.fluent.etrading.framework.market.parameters.TIBCOEspeedMarketParameter" />
        </constructor-arg>
    </bean>


    <bean id="OrderExecutionManager" class="com.fluent.etrading.execution.OrderExecutionManager" init-method="init" destroy-method="stop">
        <constructor-arg ref="SmartInputEventDispatcher" />
        <constructor-arg>
            <list>
                <ref bean="TIBCOBtecExecutor" />
                <ref bean="TIBCOEspeedExecutor" />
            </list>
        </constructor-arg>
    </bean>
    
    

	<!-- EventController -->
	<bean id="EventController" class="com.fluent.etrading.framework.core.FluentController" init-method="init" destroy-method="stop">
    	<constructor-arg ref="SmartInputEventDispatcher" />
    	<constructor-arg ref="SmartOutputEventDispatcher" />
    </bean>
    


	<!-- INPUT Adaptors -->
	<!-- ####################################################################### -->
    <!-- Market Data -->
    <bean id="DummyMarketDataEventAdaptor" class="com.fluent.etrading.marketdata.DummyMarketDataAdaptor" init-method="init" destroy-method="stop" depends-on="EventController">
        <constructor-arg value="TREASURY_MD" />
        <constructor-arg value="BTEC" />
        <constructor-arg ref="SmartInputEventDispatcher" />
    </bean>


    <!-- Trader Request -->
    <bean id="DummyNewStrategyAdaptor" class="com.fluent.etrading.requests.DummyStrategyEventAdaptor" init-method="init" destroy-method="stop" depends-on="EventController">
        <constructor-arg ref="SmartInputEventDispatcher" />
    </bean>
    

</beans>